.button-container{
    width: 600px;
    height:  400px;
    margin-top: 30px;
    border:  6px solid #279EFF;
    justify-self: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

button{
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 20px;
    background: palevioletred;
    color: aliceblue;
    font-weight: bolder;
    border: none;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

button:hover{
    transition: all 0.5s;
    background: rgb(181, 67, 105);

}